{% extends "base.html" %}

{% block content %}
    <h1>SPOD (Student print on demand)</h1>
    
    <div>Mit dem Entscheid des VSETH-Vorstandes vom 13. September 2005 ist SPOD 
    offiziell als Kommission des VSETH gegründet.<br />
    </div>
    <hr />
    <div>
    SPOD (Student Print On Demand) ist eine Dienstleistung für Studenten. </br>
    Sie bietet alte Prüfungsaufgaben für die Prüfungsvorbereitung sowie
    Skripte für alle möglichen Vorlesungen vom Bachelor und Master an. </br>
    Diese Dokumente werden im Webshop (spod.ethz.ch) bestellt,
    vom SPOD sofort ausgedruckt und sind dann schon abholbereit. </br>
    Besucht uns mal auf einen Kaffee !
    </div>
    
    
{% endblock %}